<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather2.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
             <p>{{helpText}}</p> 
             <p>Although no help is provided here, but still feel free totell us whcih part of the app you think is boring. I feel the app as a whole is boring and disgusting.</p> 
        </div>
        {{>footer}}
    </body>
</html>